/* Styles will go here..  */
body {
  padding-top: 50px;
}
.main-content {
  padding: 40px 15px;
  text-align: center;
  background: #FFFFFF;
}

.copyright {
  text-align: center;
}

.rel-centered-div {
	display: inline-flex;
	position: relative; 
}

.rel-left-centered {
	float: left; 
	position: relative; 
}

.prov-image {
	min-width: 285px;
}

.welcome-image {
	min-width: 525px;
}

.rel-centered-text {
	text-align: left;
	position: relative; 
}

.reg-table {
	text-align: left;
}

.rsvp-item {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	padding-bottom: 10px;
}

.rsvp-first-item {
	margin-bottom: 10px;
}

.rsvp-name {
	font-size: 28px;
}

.rsvp-household {
	font-size: 16px;
	padding-bottom: 10px;
}

.rsvp-submit-button {
	font-size: 24px;
	float: right;
}

.rsvp-bottom {
	padding-bottom: 20px;
}

.input-group-lg .rsvp-zero-pad {
	padding: 0px; 
	border: 0px;
}

.rsvp-button {
	height: 46px;
	font-size: 24px;
}

/* TODO: Add original box-shadow back in on hover or click? */
.form-control.rsvp-extra-guest {
	width: 50%;
	border: none;
	text-align: center;
	font-size: 28px;
	display: inline-block;
	height: initial;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.select-guest {
	background-color: #DDFFFF;
}

.main-background {
	background-color: #f2efe9;
}

.main-content {
	padding: 0px;
}

.img-responsive {
	width: 100%;
}

.top-level-title {
	font-size: 42px;
	font-family: 'Rosewood Fill';
	font-weight: bold;
}

.main-content-div {
	padding-bottom: 35px;
}

.form-control.rsvp-extra-guest:hover {
	background-color: beige;
}