/* Styles will go here..  */
body {
  padding-top: 50px;
}
.main-content {
  padding: 40px 15px;
  text-align: center;
  background: #FFFFFF;
}

.copyright {
  text-align: center;
  color: white;
}

.rel-centered-div {
	display: inline-flex;
	position: relative; 
	/*left: 50%*/
}

.rel-left-centered {
	float: left; 
	position: relative; 
	/*left: -50%*/
}

.prov-image {
	min-width: 285px;
}

.welcome-image {
	min-width: 525px;
}

.rel-centered-text {
	text-align: left;
	position: relative; 
	/*left: -50%*/
}

.reg-table {
	text-align: left;
}

.rsvp-item {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.rsvp-first-item {
	margin-bottom: 10px;
}

.rsvp-name {
	font-size: 28px;
}

.rsvp-button {
	font-size: 24px;
	float: right;
}

.rsvp-bottom {
	padding-bottom: 20px;
}
