<div>
	<div class="rel-centered-div">
		<div class="rel-left-centered prov-image"><img src="@routes.Assets.at("images/Providence.jpg")" /></div>
		<div class="rel-centered-text">
			<p>
			- Hope street boutiques and cafes<br />
			- Federal Hill aka "Little Italy" (don't miss Venda Ravioli specialty store)<br />
			- RISD museum<br />
			- Slater Mill<br />
			- Providence Place Mall<br />
			- Roger Williams Park Zoo<br />
			- Newport, RI (25 miles away) known for family historical mansions, beaches, and food<br />
			- Newfoundland Dog Show @@ Crown Plaza - open to public<br />
			</p>
		</div>
	</div>
</div>