<p>
<b>Ceremony and Reception</b><br />
May 9, 2015<br />
5:00 pm to 12:00 am<br />
The Aldrich Mansion<br />
836 Warwick Neck Ave <br />
Warwick, RI 02889 <br />
</p>


<p>
All wedding events are on site:<br /> 
5-6pm Ceremony; 6-7pm Cocktails; 7pm-9pm Dinner; 9pm-12am PARTY! Shuttles will be available for transportation to and from the hotels and wedding venue. 
</p>

<p>
Will you be in town on Friday as well? We'd love to have you join us for dinner! Please let us know in the RSVP section.
</p>
