@(guests: com.avaje.ebean.common.BeanList[Guest], term:String, needsVerification:Boolean, isSubmit:Boolean, alreadySubmitted:Boolean)
<script type="text/javascript">
$(document).ready(function(){
	var selectedItem = null;
	search = function() {
		var searchForm = $("#search");
 		searchForm.attr("action", searchForm.attr("action") + $("#search-text").val());
 		searchForm.submit();
	};
 	$("a.rsvp-response" ).on( "click", function(event) {
 		var rsvpButton = $(this).closest(".dropdown").find(".rsvp-button");
 		rsvpButton.contents().first().remove();
 		rsvpButton.prepend($(this).text() + " ");
 		$(this).closest(".rsvp-inputs").find(".hidden-input").val($(this).text());
	});
	$("#search-button" ).on( "click", function(e) {
 		search();
	});
	$("#submit-rsvp" ).on( "click", function(e) {
		e.preventDefault();
		var names = $(".rsvp-extra-guest");
		for (var i = 0; i < names.length; i++) {
			if ($(names[i]).val() === "" || $(names[i]).val() === undefined) {
				alert("One of your guests has an empty name. Cannot submit. Please fill in or remove the guest...");
				return;
			}
		}
 		$("#rsvp-form").submit();
	});
	$("#add-guest" ).on( "click", function(e) {
		var items = $(".guest-info");
		if (items.length === 0) {
			return;
		}
		var newGuest = $(items[0]).clone();
		newGuest.find("input[type=hidden][name=id]").val("@Guest.newGuestId()");
		newGuest.find(".rsvp-name").html($('<input type="text" class="form-control rsvp-extra-guest" name="name" autocomplete="off" placeholder="Enter Name (Click Here)"></input>'));
		var removeGuest = $("#remove-guest");
		removeGuest.show();
		if (selectedItem == null) { removeGuest.prop("disabled", "true"); }
		newGuest.on( "click", function(e) {
			var removeGuest = $("#remove-guest");
			var me = $(this);
			var className = "select-guest";
			if (me.hasClass(className)) {
				me.removeClass(className);
				selectedItem = null;
				removeGuest.prop("disabled", "true");
			} else {
				$("." + className).removeClass(className);
				me.addClass(className);
				selectedItem = me;
				removeGuest.removeAttr("disabled");
			}
		});
		$("#guest-container").append(newGuest);
	});
	$("#search-text").keyup(function(e){
    	if(e.keyCode == 13) { search(); }
	});
	var innerHtml = "";
	@if(guests.size() == 0 || needsVerification) {
		$(".rsvp-inputs").hide();
	}
	@if(needsVerification) {
		innerHtml = 'Found multiple guests for "@term".<br />Please select the correct guest by clicking on the name that best matches you...';
	}
	@if(isSubmit) {
		innerHtml = 'Thanks for submitting your response!<br />You may verify your responses below and can revise them at any time prior to April 1st...';
	}
	@if(alreadySubmitted) {
		innerHtml = 'Responses for the selected guests have already been submitted.<br />You may revise them at any time prior to April 1st...';
	}
	if (innerHtml !== "") {
		$(".alert-info").html(innerHtml);
	}
	$("#remove-guest").hide();
	$("#remove-guest").on("click", function(e) {
    	if(selectedItem != null) { 
    		selectedItem.remove();
    		selectedItem = null;
    		$(this).prop("disabled", "true");
    	}
    	if($(".rsvp-extra-guest").length == 0) {
    		$(this).hide();
    	}
	});
});
</script>

<div>
	<p>
		<div class="rsvp-item">
		    <div class="input-group input-group-lg">
		    	<input type="text" class="form-control" id="search-text" placeholder="Enter Your Name" value="@term">
				<span class="input-group-btn">
					<button class="btn btn-default" id="search-button" type="button">Search</button>
				</span>
		    </div><!-- /input-group -->
		</div>
		<form method="post" action="/rsvp/" id="search"></form>
	</p>			
	@if(!term.isEmpty() && guests.size() == 0) {
		<p>
			<div class="rsvp-item">
				<div class="alert alert-warning">
					No matching guest found for "@term".<br />
					Please make sure you are searching only a single guest's name (not a couple)...<br /> 
					If you believe this is an error, please contact Archie at:
					<a href="mailto:apngrace@@hotmail.com">apngrace@@hotmail.com</a>
				</div>
			</div>
		</p>
	}
	@if(needsVerification || isSubmit || alreadySubmitted) {
		<p>
			<div class="rsvp-item">
				<div class="alert alert-info"></div>				
			</div>
		</p>
	}
	<form method="post" action="/rsvpSubmit/@term" id="rsvp-form">
		<div id="guest-container"> 
			@for(guest <- guests) {
				<div class="rsvp-item guest-info">
					<br />
					<input type="hidden" name="id" value="@guest.id"/>
					@if(needsVerification) {
						<div class="rsvp-name"><a href="/rsvp/@guest.name">@guest.name</a></div>
					} else {
						<div class="rsvp-name">@guest.name</div>
					}
					<div class="rsvp-household">@guest.household</div>
	    			<div class="input-group input-group-lg rsvp-first-item rsvp-inputs">
	    				<input type="hidden" name="attendingRehearsal" class="hidden-input" value="@guest.rehearsalStr"/>
		      			<span class="input-group-addon rsvp-zero-pad">
					    	<div class="dropdown dropdown-div">
						        <button class="btn btn-default dropdown-toggle rsvp-button" data-toggle="dropdown">@guest.rehearsalStr
						        <span class="caret"></span></button>
						        <ul class="dropdown-menu">
						          <li><a class="rsvp-response">@Guest.getAttending(true)</a></li>
						          <li><a class="rsvp-response">@Guest.getAttending(false)</a></li>
						        </ul>
					      	</div>
		      			</span>
	      				<div class="form-control event-name">Friday Dinner (<a href="http://www.costantinosristorante.com/" target="_blank">Costantino's</a>, 6-9PM)</div>
	    			</div><!-- /input-group -->
	    			<div class="input-group input-group-lg rsvp-inputs">
	    				<input type="hidden" name="attendingWedding" class="hidden-input" value="@guest.weddingStr"/>
	    			    <span class="input-group-addon rsvp-zero-pad">
					    	<div class="dropdown dropdown-div">
						        <button class="btn btn-default dropdown-toggle rsvp-button" data-toggle="dropdown">@guest.weddingStr
						        <span class="caret"></span></button>
						        <ul class="dropdown-menu">
						          <li><a class="rsvp-response">@Guest.getAttending(true)</a></li>
						          <li><a class="rsvp-response">@Guest.getAttending(false)</a></li>
						        </ul>
					      	</div>
	      				</span>
	      				<div class="form-control event-name">Saturday Wedding and Reception (<a href="http://aldrichmansion.com/" target="_blank">Aldrich Mansion</a>, 5pm-12am)</div>
	    			</div><!-- /input-group -->
	  			</div><!-- /rsvp-item -->
			} 
		</div>
	</form>
	<br />
	<p>
		<div class="rsvp-item rsvp-bottom rsvp-inputs">
			<div class="rsvp-submit-button">
				<button class="btn btn-default rsvp-button" id="remove-guest" type="button">Remove Guest</button>
				<button class="btn btn-default rsvp-button" id="add-guest" type="button">Add Guest</button>
				<button class="btn btn-default rsvp-button" id="submit-rsvp" type="button">Submit RSVP</button>
			</div>
		</div>
	</p>
</div>