@(guests: com.avaje.ebean.common.BeanList[Guest])
<script type="text/javascript"> 
$(document).ready(function(){
	search = function() {
		var searchForm = $("#search");
 		searchForm.attr("action", searchForm.attr("action") + $("#search-text").val());
 		searchForm.submit();
	};
 	$("a.rsvp-response" ).on( "click", function(event) {
 		var rsvpButton = $(this).closest(".dropdown").find(".rsvp-button");
 		rsvpButton.contents().first().remove();
 		rsvpButton.prepend($(this).text() + " ");
	});
	$("#search-button" ).on( "click", function(e) {
 		search();
	});
	$("#search-text").keyup(function(e){
    	if(e.keyCode == 13) { search(); }
	});
});
 
</script>
<div>
	<p>
		<div class="rsvp-item">
		    <div class="input-group input-group-lg">
		    	<input type="text" class="form-control" id="search-text" placeholder="Find me...Enter your name...">
				<span class="input-group-btn">
					<button class="btn btn-default" id="search-button" type="button">Search</button>
				</span>
		    </div><!-- /input-group -->
		</div>
		<form method="post" action="/rsvp/" id="search" />
	</p>
	<p>
		@for(guest <- guests) {
			<br />
			<div class="rsvp-item">
				<div class="rsvp-name">@guest.name</div>
    			<div class="input-group input-group-lg rsvp-first-item">
	      			<span class="input-group-addon rsvp-zero-pad">
				    	<div class="dropdown">
					        <button class="btn btn-default dropdown-toggle rsvp-button" type="button" id="menu1" data-toggle="dropdown">Will Attend
					        <span class="caret"></span></button>
					        <ul class="dropdown-menu rsvp-drop-down" role="menu" aria-labelledby="menu1">
					          <li role="presentation"><a class="rsvp-response">Will Attend</a></li>
					          <li role="presentation"><a class="rsvp-response">Won't Attend</a></li>
					        </ul>
				      	</div>
	      			</span>
      				<div class="form-control" aria-label="...">Friday Rehearsal Dinner (Location TBD)</div>
    			</div><!-- /input-group -->
    			<div class="input-group input-group-lg">
    			    <span class="input-group-addon rsvp-zero-pad">
				    	<div class="dropdown">
					        <button class="btn btn-default dropdown-toggle rsvp-button" type="button" id="menu1" data-toggle="dropdown">Will Attend
					        <span class="caret"></span></button>
					        <ul class="dropdown-menu rsvp-drop-down" role="menu" aria-labelledby="menu1">
					          <li role="presentation"><a class="rsvp-response">Will Attend</a></li>
					          <li role="presentation"><a class="rsvp-response">Won't Attend</a></li>
					        </ul>
				      	</div>
      				</span>
      				<div class="form-control" aria-label="...">Saturday Wedding and Reception (Aldrich Mansion)</div>
    			</div><!-- /input-group -->
  			</div><!-- /rsvp-item -->
		} 
	</p>
	<br />
	<p>
		<div class="rsvp-item rsvp-bottom"><button class="btn btn-default rsvp-button" type="button">Submit RSVP</button></div>
	</p>
</div>