<p>We are so grateful that you are making the trip to Providence for our wedding celebration. Driving directions, as well as airport and train information are below.</p>

<h2>Driving:</h2>
<p>
From Providence Going South on Route 95. From 95 South:<br />
- Take exit 14A/B Warwick/Cranston. Take Warwick ramp on left.<br />
- Bear right onto Route 37 East<br />
- Take first exit on right Post Road/Route 1 South<br />
- Follow Post Road/Route 1 South through three sets of lights.<br />
- At fourth set of lights is the intersection of Post Road and Airport Road<br />
- Take a left onto Airport Road (Airport Plaza)<br />
- Follow Airport Road to large intersection ‘Hoxsie Four Corners.’ (Dave’s Marketplace on right)<br />
- Go straight thru intersection. Airport Road turns into West Shore Road/Rte 117 West.<br />
- Follow West Shore Road/117West as it winds along. You’ll go through a flashing light and two sets of lights.<br />
- At the third set of lights is an intersection of West Shore Road and Warwick Neck Avenue. Turn left onto Warwick Neck Avenue  (Look for island with Warwick Neck sign, across from Rocky Point Pub and Sunoco gas station)<br />
- Proceed up Warwick Neck Avenue for approx. 1.5 miles, Aldrich Mansion is on the left at the third gate (huge gate, tall stone wall, sign at entrance)<br />
- Turn into driveway through large gate. Parking lots are in front and on the side of the main house.<br />
</p>
<p>
From Connecticut Going North on Route 95. From 95 North:<br />
- Take exit 13/T.F. Green Airport<br />
- Take second exit to Post Road/Route 1 North<br />
- At bottom of ramp turn left onto Post Road<br />
- You will pass airport, hotels, eateries and Airport Plaza (IHOP, Staples)<br />
- At third light is a T intersection of Post Road and Airport Road<br />
- Take a right onto Airport Road, which passes the airport<br />
- At end is an intersection ‘Hoxsie 4 Corners (Dave’s Marketplace and DeAngelos)<br />
- Go straight thru intersection. Airport Road turns into West Shore Road/Rte 117 West.<br />
- Follow West Shore Road/117West as it winds along. You’ll go through a flashing light and two sets of lights.<br />
- At the third set of lights is a T intersection of West Shore Road and Warwick Neck Avenue. Turn left onto Warwick Neck Avenue  (There is also an island with a sign for Warwick Neck, near Rocky Point Pub and Sunoco gas station)<br />
- Proceed up Warwick Neck Avenue for approx.. 1.5 miles, Aldrich Mansion is on the left at the third gate (tall stone wall, sign at entrance)<br />
- Turn into driveway through large gate. Parking lots are in front and on the side of the main house.<br />
</p>
<h2>Train:</h2>
The Providence RI Amtrak station (http://www.amtrak.com/home) is a 9-mile cab ride from the wedding accomodations, and about 14 miles from the Aldrich Mansion.

<h2>Flying:</h2>
Wedding accommodations are less than a mile from the T.F Green Providence Airport. Please feel free to use the tool below to search for flights.

